.filterInput {
	display: flex;
	padding: 20px;
	gap: 10px;
	color: white;
	background-color: rgb(45, 44, 44, 0.8);
	flex-direction: column;
	align-items: center;
	border: 1px solid rgb(146, 146, 146);
	border-radius: 20px;

	input,
	select {
		padding: 10px;
		border-radius: 10px;
		color: white;
		background-color: rgb(62, 62, 62);
		border: 1px solid var(--clr-4);
	}
}
